@import "tailwindcss";

@theme {
  /* --bg-color: #0D1F27;
  --accent-color: #2FB3AD; */

  --bg-color: ##eff5f7;
  --bg-card: #0D1F27;
  --accent-color: #2fb3ad;
  --text-light: #ffffff/70;
  --text-dark: #000000/90;
  --text-description: #1D323E;
}
